staticfiles/

node_modules/
migrations/

**/.env
.env

/node_modules
__pycache__/
/__pycache__
/staticfiles
/node_modules
/node_modules/

.env.local
.env.development.local
.env.test.local
.env.production.local